In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from configs.configs import configs as cfg
import os

In [2]:
SHEETS = cfg['sheets_names']
DATA_PATH_INIT = cfg['clean_data_path_init']
add_df = pd.read_csv(os.path.join(DATA_PATH_INIT, 'CustomerAddress.csv'), header=0)

In [3]:
add_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [4]:
add_df.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [6]:
add_df.describe()

       customer_id     postcode  property_valuation
count  3999.000000  3999.000000         3999.000000
mean   2003.987997  2985.755939            7.514379
std    1154.576912   844.878364            2.824663
min       1.000000  2000.000000            1.000000
25%    1004.500000  2200.000000            6.000000
50%    2004.000000  2768.000000            8.000000
75%    3003.500000  3750.000000           10.000000
max    4003.000000  4883.000000           12.000000

# nulls

In [7]:
# sum nulls
[add_df[col].isnull().sum() for col in add_df.columns]

[0, 0, 0, 0, 0, 0]

# duplicates

In [9]:
# sum duplicates
add_df.duplicated().sum()

0

In [10]:
add_df.state.value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

# quality assesment

In [22]:
# list of australian states
states = ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA',
"australian capital territory", "new south wales", "northern territory", "queensland",
"south australia", "tasmania", "victoria", "western australia"]
# lowercase all states
states = [state.lower() for state in states]

In [41]:
list(filter(lambda x: False,[state.lower() in states for state in list(add_df.state.value_counts().index)]))

[]

> no state out of australian states

In [30]:
# download postcode data
url = 'https://github.com/matthewproctor/australianpostcodes/raw/master/australian_postcodes.csv'
import requests
import io

requests.get(url).content
postcode_df = pd.read_csv(io.BytesIO(requests.get(url).content))

In [31]:
postcode_df.head()

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,MMM_2015,MMM_2019,ced,altitude,chargezone,phn_code,phn_name,lgaregion,electorate,electoraterating
0,230,200,ANU,ACT,149.11900,-35.277700,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
1,21820,200,Australian National University,ACT,149.11890,-35.277700,NaN,NaN,Added 19-Jan-2020,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
2,232,800,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
3,24049,800,DARWIN CITY,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
4,233,801,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 25-Mar-2020 SA3,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,NaN,NaN,Lingiari,Rural

In [39]:
postcodes = postcode_df.postcode.unique()
# see if postcode is in australian postcodes
list(filter(lambda x: False,[postcode in postcodes for postcode in add_df.postcode.unique()]))

[]

> all available no one is out of austrailia